/* ==================== MAIN ========================== */

section{
    height: calc(100vh - 74px);
}

#banner1{
    background: url('../img/dog01-inteira.jpg') fixed  center/cover;
    background-position: bottom;
}

#banner2{
    background: url('../img/gato01-inteira.jpg') fixed  center/cover;
}

#banner3{
    background: url('../img/dog02-inteira.jpg') fixed  center/cover;
}

section#banner1 div {
    position: relative;
    top: -9.25rem;
}

p{
    font-size: 1.625rem;
}

a.btn{
    width: 7.5rem;
    font-size: 1rem;
    padding: 0.375rem;
    box-shadow: 3px 3px 3px #0000005c;
    font-weight: bold;
    background:purple;
    color: white;
    border: none;
    transition: all 0.5s;
}

@media (max-width: 575px){
    #banner3 div{
        width: 56%;
        position: relative;
        right: -5.40rem;    
    }

    #banner2 div{
        width: 55%;
        position: relative;
        left: -5.50rem;
    }

    body{
        overflow-x: hidden;
    }
}

@media (min-width: 576px){
    #banner3 div{
        position: relative;
        left: -73px;
    }
}